/* Google font */
@import url('https://fonts.googleapis.com/css?family=Lato|Taviraj&display=swap');



/* === ================= ===*/
header {
    background-image: url(../images/header-a.jpg) ;
	text-align: center;
	width: 100%;
    height: 95vh;
	background-size: cover;
	position: relative;
}

header h1 {
    padding-top: 100px;
    text-align:center;
}

header h3 {
    text-align:center;
}

.header-btn  {
    margin-top: 20px;
    text-align:center;
    justify-content: center;
}





/* === ================= ===*/

#search-area {
    margin: 10px;
    padding: 10px;
}



#search-area h2 {
  margin: 10px;  
}


#search-area .form-row {
    padding: 5px;   
}

#search-area .search-input {
    margin-top: 5px;
}


#search-area .search-button {
    margin: 5px ;
}

/* === ================= ===*/

.cards-section {
    margin-top: 20px;
}

.cards-section h2 {
    margin: 10px;
}

.cards-section .card-deck {
    padding: 10px;
}

.place-card{
    max-width: 500px;
    min-width: 250px;
    margin: 10px;
}

.card {
    border: 1PX solid green;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

.place-location {
    border: 1px solid orange;
    border-radius: 25px;
    height: 25px;
    margin: 5px;
    padding: 0px;
}

.place-activities {
    margin: 5px;
    padding: 5px;
    height: 150px;
}

.tags-view  {
    border: 1px solid orange;
    border-radius: 25px;
    margin: 3px;
    padding: 3px;
    background-color: rgba(255, 166, 0, 0.5);
    font-size: 12px;
    display: inline-block;
}

.activity-tags {
    border: 1px solid orange;
    margin: 0 5px;
    padding : 2px;
    border-radius: 25px;
    background-color: rgba(255, 166, 0, 0.5);
    font-size: 16px;
    width: 150px;;
}

#activity-glider .glider-track {
    width :fit-content;

}

.see-more{
    font-size: 22px;
    margin-right: 5%;
}
.card-link-btn {
    background-color: rgba(0, 128, 0, 0.836);
    height: 40px;;
    border-radius: 50%;
}



/* =================================*/

.recommend-section{
    padding-top: 70px;
    border: 1px solid orange;
}

.recommend-section h3 , 
.recommend-section h4 ,
.recommend-section h5 {
    margin-top: 20px;
    text-align:center;
    justify-content: center;
}



#footer{
    height: 300px;
    background-color: orange;
}

#separator-1 {
    background-image: url(../images/separator-a.jpg) ;
	width: 100%;
    height: 50vh;
	background-size: cover;
}
#separator-2 {
    background-image: url(../images/separator-b.jpg) ;
	width: 100%;
    height: 50vh;
	background-size: cover;
}
#separator-3 {
    background-image: url(../images/separator-c.jpg) ;
	width: 100%;
    height: 50vh;
	background-size: cover;
}




/* Cards Design */

.card-title {
    font-size: 22px;
}

.card-img-top {
    background-color: white;
    height: 90px; width: 90px;
    border-radius: 100%;
    align-content: center;
}




/* cities card */

.city-card {
    margin: 5px ;
}