/* Google font */
@import url('https://fonts.googleapis.com/css?family=Lato|Taviraj&display=swap');


*{
    
    padding: 10px;

}

#footer{
    height: 300px;
    background-color: gray;
}

#separator-1 ,#separator-2 ,#separator-3 {
    height: 100px;
    background-color: green;
}