/* Import Google font */
@import url('https://fonts.googleapis.com/css?family=Lato|Taviraj&display=swap');

/* ======== Style Header Area ====== ===*/

.hero-image{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.25),rgb(1, 154, 74 ,0.25)),url("../images/header-c.jpg");
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.menu-bar{
    position: absolute;
    width: 100%;
    background: none;
    z-index: 1;
}
.navbar{
    background-color: none;
}

.navbar-toggler{
    background-color: none;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    text-transform: capitalize;
    font-size: 28px;
    font-weight: bolder ;
    font-family: 'Taviraj',sans-serif;
    color: white;
}
.navbar-brand{
    padding-top: 20px;
}

.navbar-light .navbar-nav .nav-item .active{
    color: rgb(255, 121, 0);
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(255, 121, 0);
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
}

.hero-text h1 {
    padding-top: 25px;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Lato',sans-serif;
    color: white;
}

.hero-text a {
    margin-top: 50px;
    padding: 10px;
    background-color:rgb(1, 154, 74);
    color:  white ;
    font-size: 16px;
    font-family: 'Taviraj', sans-serif;
    border-radius: 20px;
}


.hero-text a:hover{
    padding: 10px;
    background-color: rgb(255, 121, 0);
    color: white;
    font-size: 16px;
    font-family: 'Taviraj', sans-serif;
    border-radius: 20px;
    transform: scale(1.1);
}

/* ======== End of Style Header Area ====== ===*/

/* ======== Style Search Area ====== ===*/

.search-area {
    margin-bottom: 40px;
}
.search-form {
    margin : 20px 0px;
    padding : 5px;
}

.search-area h2 {
    margin-top: 20px ;
    padding: 10px 10px;
    font-size: 32px;
    font-family: 'Taviraj',sans-serif;
    font-weight: bold;
    color: rgb(255, 121, 0); 
}

.search-area .form-control {
    margin: 5px 0px ;
    height: 50px;
    border: 0.5px solid rgb(255, 121, 0);
    border-radius: 20px;
}
.search-input , .search-submit {
    padding : 3px;
}
.search-area .search-button   {
    margin: 5px 0px ;
    height: 50px;
    background-color:rgb(1, 154, 74);
    color:  white ;
    font-size: 16px;
    font-family: 'Taviraj', sans-serif;
    border-radius: 20px;
}
.search-area .search-button:hover   {
    margin: 5px 0px ;
    height: 50px;
    background-color:rgb(255, 121, 0);
    color:  white ;
    font-size: 16px;
    font-family: 'Taviraj', sans-serif;
    border-radius: 20px;
}

/* ======== End of Style Search Area ====== ===*/

/*=========  separator-1 =========*/
#separator-1 {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.25),rgb(1, 154, 74 ,0.25)),url("../images/header-a.jpg");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    margin-bottom: 50px; 
}
/*=========  End of separator-1 =========*/


/*=========   Style top Activities =========*/

#top-activities{
    margin-bottom : 70px;
}

.cards-section h2 {
    margin-top: 20px ;
    padding: 10px 10px;
    font-size: 32px;
    font-family: 'Taviraj',sans-serif;
    font-weight: bold;
    color: rgb(255, 121, 0); 
}

.cards-section .glider-contain {
    height: 350px;
    width: 94%;
}

.see-more{
    margin : 45px 0px;
    font-size: 22px;
    font: bold ;
    z-index: 2;
}

/*=========   End of Style top Activities section =========*/

/*=========   Style places Cards =========*/
.place-card{
    min-width: 350px;
    margin: 5px 3px;
}

.card {
    border: 1px solid rgb(1, 154, 74 ,0.75);
    background-color: rgba(128, 128, 128, 0.05);
}

.card-title {
    text-align: center;
    font-family: 'Taviraj',sans-serif;
    font-weight: bold;
}

.card-text {
    text-align: center;
    font-family: 'Lato',sans-serif;

}

.place-location {
    background-color: white;
    border: 1px solid rgb(1, 154, 74) ;
    border-radius: 20px;
    min-width: fit-content;
    height: 25px;
    margin: 3px;
}

.place-activities {
    margin: 5px;
    padding: 5px;
    height: fit-content;
}

.tags-view  {
    border: 1px solid orange;
    border-radius: 25px;
    margin: 3px;
    padding : 4px 10px;
    background-color: rgba(255, 166, 0, 0.5);
    font-size: 14px;
    display: inline-block;
}


.card-link-btn {
    background-color: rgba(0, 128, 0, 0.836);
    width: 75px;
    border-radius: 25px;
}

.card-link-btn:hover {
    background-color: rgba(255, 166, 0);
    width: 75px;
    border-radius: 25px;
}


/*=========   End of Style places Cards =========*/


/*=========   Style Activities & Counties Section =========*/
#separator-2{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.25),rgb(1, 154, 74 ,0.25)),url("../images/header-e.jpg");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    margin-bottom: 50px; 
}

.activities-and-counties h2 ,
#counties-section h2 {
    padding: 5px 0px;
    margin-top: 20px ;
    font-size: 32px;
    font-family: 'Taviraj',sans-serif;
    font-weight: bold;
    color: rgb(255, 121, 0); 
}


#activity-glider .glider-track {
    margin: 15px 0px;
    width :fit-content;
    height: 50px;
}

.activity-tags {
    border: 1px solid orange;
    margin: 0 5px;
    padding : 4px 10px;
    border-radius: 25px;
    background-color: rgba(255, 166, 0, 0.5);
    font-size: 16px;
    min-width: fit-content;
    cursor: pointer;
}

.county-card{
    background-color: white;
    border: 1px solid rgb(1, 154, 74) ;
    border-radius: 20px;
    min-width: fit-content;
    height: 45px;
    margin: 10px;
    padding: 4px 4px;
    text-align: center;

}
.county-btn{

    font-family: 'Lato',sans-serif;
    text-decoration: none;
    color: black;
}

#separator-3{
    margin-top: 75px ;
    background-image:  url("../images/header-b.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    height: 50vh;
}

/*=========   End of Style Activities & Counties Section =========*/

/*=========   Recommend place form Section =========*/

.recommend-section {
    padding: 5px 0px;
    margin: 45px 0px;
    font-size: 21px;
    font-family: 'Taviraj',sans-serif;
    font-weight: normal;
    color: rgb(1, 154, 74); 
    text-align: center;
}

.modal-header{
    justify-content: center;
    text-align: center;
    margin: 5px 0px;
}

.modal-title {
    font-weight: bold;
    text-align: center;
    font-size: 21px;
    color: rgb(1, 154, 74); 
}

.recommend-btn  {
    margin: 50px 0px;
    padding: 15px;
    background-color:rgb(1, 154, 74);
    color:  white ;
    font-size: 16px;
    font-family: 'Taviraj', sans-serif;
    border-radius: 20px;
    text-decoration: none;
}


.recommend-btn:hover , .f-btn:hover{
    padding: 15px;
    background-color: rgb(255, 121, 0);
    color: white;
    font-size: 16px;
    font-family: 'Taviraj', sans-serif;
    border-radius: 20px;
    text-decoration: none;
    transform: scale(1.1);
}
.f-btn {
    padding: 10px;
    background-color:rgb(1, 154, 74);
    color:  white ;
    font-size: 16px;
    font-family: 'Taviraj', sans-serif;
    border-radius: 20px;
}
.f-btn:hover{
    padding: 10px;
    background-color: rgb(255, 121, 0);
    color: white;
    font-size: 16px;
    font-family: 'Taviraj', sans-serif;
    border-radius: 20px;
}

/*=========   End of Recommend place form Section =========*/

/*=========   About Section =========*/
#about{
    margin: 80px 0px;
}
.about-text {
    padding: 5px 0px;
    font-size: 21px;
    font-family: 'Taviraj',sans-serif;
    font-weight: normal;
    text-align: center;
}
.about-header {

    font-size: 36px;
    font-family: 'Taviraj',sans-serif;
    font-weight: bold;
    color: rgb(255, 121, 0);
    text-align: center;
}



/*=========   End of about Section =========*/


/*=========   All Pages & Search Results  =========*/

.show-more-btn{
    margin: 25px 0px;
    padding: 15px;
    background-color:rgb(1, 154, 74);
    color:  white ;
    font-size: 16px;
    font-family: 'Taviraj', sans-serif;
    border-radius: 20px;
    cursor: pointer;

}
.show-more-btn:hover{
    padding: 15px;
    background-color: rgb(255, 121, 0);
    color: white;
    font-size: 16px;
    font-family: 'Taviraj', sans-serif;
    border-radius: 20px;
    text-decoration: none;
    transform: scale(1.1);

}


.message{
    font-size: 21px;
    text-align: center;
    color: black;
    font-weight: bold;

}
.search-bk-obtion{
    margin: 0px 7%;
}

/*=========   Footer Style  =========*/

.footer-section {
    margin-top: 50px;
    padding-top: 22px;
    background-color:rgb(1, 154, 74 ,0.7);
    background-size: cover;

}
.footer-header{
    padding: 10px 10px;
    font-size: 36px;
    font-family: 'Taviraj',sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

.footer-info {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lato',sans-serif;
    color: white;
    text-align: center;
}

.footer-btn{
    display: inline-block;
    font-size: 24px;
    background-color: rgba(255, 166, 0);
    color: white;
    margin: 5px 5px;
    padding: 10px;
    border-radius: 25px;
    text-decoration: none;
}
.footer-btn:hover{
    font-weight: bold;
    background-color: rgba(255, 166, 0);
    color: white;
    transform: scale(1.1);
    margin: 5px 5px;
    padding: 10px;
    border-radius: 25px;
    text-decoration: none;

}



.social-btn{
    font-size: 24px;
    background-color: rgba(255, 166, 0);
    color: white;
    padding: 10px;
    width: 50px;
    border-radius: 100%;
}
.social-btn:hover {
    font-weight: bold;
    background-color: rgba(255, 166, 0);
    color: white;
    transform: scale(1.1);
    padding: 10px;
    width: 50px;
    border-radius: 100%;
}

.copyrights{
    color: white;
}